<!-- src/app/components/item-list/item-list.component.html -->
<div>
  <select [(ngModel)]="filter" (change)="onCategoryChange($event)">
    <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
  </select>
  <ul>
    <li *ngFor="let item of items | itemFilter:filter">
      <h3>{{ item.name }}</h3>
      <p>Catégorie: {{ item.category }}</p>
      <p>Taille: {{ item.size }}</p>
      <p>Couleur: {{ item.color }}</p>
      <p>Quantité: {{ item.quantity }}</p>
      <button (click)="deleteItem(item._id)">Supprimer</button>
    </li>
  </ul>
</div>
