
  <div class="filter_container">
    <select class="filter" [(ngModel)]="filter" (change)="onCategoryChange($event)">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
  </div>
  
  <div class="item-list-container">

    <div class="item-card" *ngFor="let item of items | itemFilter:filter">
      <h3>{{ item.name }}</h3>
      <p>Catégorie: {{ item.category }}</p>
      <p>Taille: {{ item.size }}</p>
      <p>Couleur: {{ item.color }}</p>
      <p>Quantité: {{ item.quantity }} </p>
      <p>Prix: {{ item.price }} euros l'unité</p>
      <button *ngIf="item._id" class="delete-button" (click)="deleteItem(item._id)">Supprimer</button>
    </div>
 
</div>
